extends layout

block content
  //- Main jumbotron for a primary marketing message or call to action
  div.jumbotron
    div.container
      h1 Details for: 
        a(class="emj" href="/e/#{emoji.Url}" title="U+#{emoji.Unicode}") &#x#{emoji.Unicode};
      p "#{emoji.Description}"
  
