extends layout

block content
  //- Main jumbotron for a primary marketing message or call to action
  div.jumbotron
    div.container
      h1 Welcome to 
        span.text-primary Emojr
      p "There must be a brain%@^# web framework out there that would be a better choice." -MFS
      p <a class="btn btn-primary btn-lg" href="/e/%F0%9F%8C%B5" role="button">Suck It Mike's Beliefs <span class="emj">&#x1F335;</span></a>
  div.container
    //- Search bar
    div.row
      div(class="col-sm-8 col-sm-offset-2")
        form(class="" role="search" method="GET" action="/e")
          div.input-group.input-group-lg
            input(type="text" name="symbol" class="form-control" placeholder="Search emoji...")
            span.input-group-btn
              button(class="btn btn-default" type="submit")
                span(class="glyphicon glyphicon-search")
    //- Emoji list
    ul(class="emoji-list row")
      each emoji in emojis
        li
          a(class="emj" href="/e/#{emoji.Url}" title="#{emoji.Description}") &#x#{emoji.Unicode};
