

/* ==========================================================================
   Emojr custom style
   ========================================================================== */

 body {
   padding-top: 50px;
 }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

 /*==========================================================================
    Index
   ========================================================================== */
 .emoji-list {
   margin-top:30px;
   padding-left: 0;
   list-style: none;
}

 .emoji-list li {
   float: left;
   width: 25%;
   height: 115px;
   padding: 10px;
   font-size: 48px;
   line-height: 1.4;
   text-align: center;
   background-color: #f9f9f9;
   border: 1px solid #fff;
   vertical-align:middle;
 }

 @media (min-width: 768px) {
   .emoji-list li {
     width: 12.5%;
     font-size: 56px;
   }
 }

/* Login
------------------------------------------------------------------------------*/

#login {
  margin-top:50px;
}

#loginbox .panel-body {
  padding-top:30px;
}

.form-footer {
  border-top: 1px solid#888;
  padding-top:15px;
  font-size:85%
}

#signupbox {
  margin-top:50px;
}

/* Emoji Detail
------------------------------------------------------------------------------*/
 /*
 Emoji Symbols Font (c)blockworks - Kenichi Kaneko
 http://emojisymbols.com/
 *
 /*
  EmojiSymbols Font (c)blockworks - Kenichi Kaneko
  http://emojisymbols.com/
  */
  @font-face {
    font-family: "EmojiSymbols";
    src: url('/fonts/EmojiSymbols-Regular.woff') format('woff');
    text-decoration: none;
    font-style: normal;
  }
  .emj {
    font-family: "EmojiSymbols";
    line-height: 1;
  }

  #newComment .alert {
      padding:5px;
  }

  #listComment
  {
      margin:30px 0px;
  }
